<html>
	<head>
		<title>Event</title>
		<style>
			.container {
				width: 1360px;
			}
			.member {
				position: relative;
				float: left;
				margin: 10px;
				padding: 5px;
				width: 240px;
				border: 1px solid #aaa;
			}
		</style>
	</head>
<body>
	<h2>{{ context.event.name }} @ {{ context.event.venue.name }}</h2>
	<div class="container">
	{% for rsvp in context.rsvps %}
		<div class="member">
			{% if rsvp.member_photo %}
				<img src="{{ rsvp.member_photo.photo_link }}" />
			{% endif %}
			<p>{{ rsvp.member.name }}{% if rsvp.member.host %} (Host){% endif %}</p>
			<p>{{ rsvp.member.bio }}</p>
		</div>
	{% endfor %}
	</div>
</body>
</html>
