<html>
	<head>
		<title>Events</title>
	</head>
<body>
	<h2>Eventz</h2>
	{% for event in events %}
		<p><a href="/event/{{ event.id }}?urlname={{ event.group.urlname }}">{{ event.name }}</a><p>
	{% endfor %}
</body>
</html>
